// Hero

.hero {
  padding: 118px 0;
  text-align: center;
  background: $second-bgc;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mob_x1_hero.jpg);
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mob_x2_hero.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    // max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tab_x1_hero.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tab_x2_hero.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    // max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desk_x1_hero.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desk_x2_hero.jpg);
    }
  }
}
